In [1]:
import numpy as np

In [34]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
body = .get_object(Bucket='capstoneprojectclustering-donotdelete-pr-vmqb8zfefrmuqn',Key='dados4.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

  Postcode      Borough     Neighbourhood
0      M4C    East York  Woodbine Heights
1      M4B    East York  Woodbine Gardens
2      M1G  Scarborough            Woburn
3      M3H   North York    Wilson Heights
4      M2R   North York   Willowdale West

In [37]:
final_df=df_data_1.groupby(['Postcode','Borough']).Neighbourhood.unique().reset_index()

In [38]:
final_df.shape

(101, 3)

In [40]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
body = .get_object(Bucket='capstoneprojectclustering-donotdelete-pr-vmqb8zfefrmuqn',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

geo_df = pd.read_csv(body)
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [45]:
final_df.rename(columns={'Postcode':'Postal Code'},inplace=True)

In [47]:
def_df=final_df.set_index('Postal Code').join(geo_df.set_index('Postal Code'))

In [51]:
def_df.head()

,Borough,Neighbourhood,Latitude,Longitude
Postal Code,,,,
M1B,Scarborough,"[Rouge, Malvern]",43.806686,-79.194353
M1C,Scarborough,"[Rouge Hill, Port Union, Highland Creek]",43.784535,-79.160497
M1E,Scarborough,"[West Hill, Morningside, Guildwood]",43.763573,-79.188711
M1G,Scarborough,[Woburn],43.770992,-79.216917
M1H,Scarborough,[Cedarbrae],43.773136,-79.239476

In [52]:
def_df.shape

(101, 4)